:root {
    --primary-ad-color: #114c92;
    --black-ad-color: #000000;
    --white-ad-color: #ffffff;
    --red-color: #b11313;
}

body {
    background-color: var(--primary-ad-color);
    color: var(--white-ad-color);
}


/* LA partie Hero de la Page HEROS */

#hero {
    background-image: url("../img/img19.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

iframe {
    width: 100%;
    border: none;
    aspect-ratio: 16/9;
}

#fondation {
    width: 100%;
    min-height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../img/Illustration/img20.png");
}

#fondation>div {
    top: 10vw;
    position: relative;
}

#fondation p {
    font-size: 2.5vw;
    font-weight: bold;
}

#amis1,
#amis2 {
    padding: 0.5rem;
    width: 60%;
    margin: auto;
    display: block;
}

#lesFilles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#lesFilles img {
    width: 30%;
}

#avengers {
    padding: 3rem 0;
    background-color: var(--red-color);
}

#avengers .left {
    position: relative;
    z-index: 5;
}

.slider {
    z-index: 0;
    padding: 1rem 0;
    position: absolute;
    right: 0;
}

.slider img.slider-item {
    position: relative;
    width: 100%;
    animation: slider 1s;
    height: auto;
    display: none;
}


/* 
.slider img.slider-item:first-of-type {
    display: block;
} */

@keyframes slider {
    from {
        opacity: 0;
        transform: translate(-100%);
        left: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}

#univers {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/img33.png");
}

.bg-transparent-blue {
    padding: 3rem 0;
    background-color: rgba(17, 75, 146, 0.6);
}

@media screen and (min-width:768px) {
    #amis1 {
        width: 60%;
        padding: 0;
        display: block;
        margin-left: 0;
    }
    #amis2 {
        width: 65%;
        padding: 0;
        margin-left: 35%;
        margin-top: -15%;
    }
    #lesFilles {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }
    #lesFilles img {
        width: 45%;
        height: auto;
    }
}

.zoomIn {
    transform: scale(1.3);
    transition: all 1s ease;
}

.zoomOut {
    transform: scale(1);
    transition: all 1s ease;
}